@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url(./reset.css);
@import url(./typography.css);
@import url(./carousel.css);
@import url(./header.css);
@import url(./sections.css);
@import url(./buttons.css);
@import url(./footer.css);

:root {
    --primary: #000000;
    --secondary: #009d00;
    --light: #cecece;
    --dark: #0a3d08;
    --middle: #232020;
}

body {
    font-family: 'Bahnscrift', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: var(--light);
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

h1 {
    font-family: 'Autogate', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: normal;
}

h5 {
    font-family: 'Autogate', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
}

.custom-hr {
    border: none; /* Remove a borda padrão */
    height: 3px; /* Define a altura da linha */
    background-color: #00ff4c; /* Define a cor da linha */
    width: 100%; /* Define a largura da linha */
    margin: auto; /* Centraliza a linha */
    border-radius: 5px; /* Adiciona bordas arredondadas, se desejado */
    box-shadow: 0 0 20px rgb(14, 223, 14); /* Efeito neon */
}



